<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model='lastName' placeholder="请输入姓"><br />
        名: <input type="text" v-model= "firstName" placeholder="请输入名"><br />
        全名:{{fullName}}
    </div>
    <script>
        Vue.config.productionTip = false;
        const vm = new Vue({
            el:'#root',
            data:{
                lastName:'',
                firstName:'',
                fullName:''
            },
            watch:{
                lastName(newValue){
                    this.fullName = newValue +'-'+this.firstName
                },
                firstName(newValue){
                    this.fullName = this.lastName+'-'+newValue
                }
            }
        });
    </script>
    
</body>
</html>